*{
    font-family: "Inter-Bold", Helvetica;
}
.DashboardHeader{
    background-color: #FF7F01;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#OpenGroUP{
    width: 300px; 
    height: 150px;
}
#UnimetLogo{
    width: 255px; 
    height: 255px;
}

.GroupSection{
    margin-top: 3em;
}
input{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid #FFF;
    background: rgba(253, 235, 218, 0.30);
}
button{
    border-width: 1px;
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background-color: #FF7F01;
    color: #FFF;
}