.DashboardHeader{
    background-color: #FF7F01;
    display: flex;
    width: 1441px;
    align-items: flex-start;
}
.AdminInfoSeccion{
    fill: #FEFAF7;
}
.GroupSection{
    fill: #FEFAF7;
    margin-top: 3em;
}
input{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid #FFF;
    background: rgba(253, 235, 218, 0.30);
}
button{
    border-width: 1px;
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FF7F01;
    color: #FFF;
}